  <form name="postForm">
  <div>

    <span>Наименование карточки</span><input type="text" id="title" name="title">
  
    <div id="cardFromSale">
    <span>Фотокарточка</span><input type="file" id="img" name="img">
    <span>Состояние</span><input type="text" id="condition" name="condition">
    </div>
  </div>
  <div><span>Добавить на продажу</span><button type="submit">Push</button></div>
  </form>