<div class="class-conteiner-Autoriz">
  <form class="formAutorization">
    <span> Login </span>
    <div class="email-input" data-validate="Username is required">
      <input
        class="inputEmail"
        type="text"
        name="username"
        placeholder="email"
      />
    </div>
    <div class="fieldPassword" data-validate="Password is required">
      <input
        class="inputPass"
        type="password"
        name="pass"
        placeholder="Password"
      />
    </div>
    <div class="btnLogin">
      <button class="login-form-btn">Push</button>
    </div>
  </form>
</div>
