<form action="/user/basket" method="post" id="login">
<div class="dropdownBsk">
  <button class="dropbtnBsk">M</button>
  <div class="dropdown-contentBsk">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</div>
<div class="containBsk">
  <input placeholder="username"></input>
  <div class="containBskCrd">
    <form action="">
      <select id="card" name="country">
        <option value="id1">Warlock</option>
        <option value="id2">Dwarf</option>
      </select>
      <button type="submit">send</button>
    </form>
  </div>
</div>
</form>