<div class="dropdownLK">
  <button class="dropbtnLK">M</button>
  <div class="dropdown-contentLK">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Basket</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
<div class="interfaceLK">
  <div>
    <span>Наименование карточки</span><input type="text" />
    <div id="cardFromSale">
      <img src="" alt="picture" />
      <p>rate</p>
    </div>
  </div>
  <div><span>Добавить на продажу</span><button>Push</button></div>
</div>
