<form action="/user/LK" method="post" id="login">
<div class="dropdownLK">
  <button class="dropbtnLK">M</button>
  <div class="dropdown-contentLK">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="">Basket</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
</div>
<div class="interfaceLK">
   <div class="col">
        {{> postForm}}
    </div>
</div>
</form>
<script defer src="/js/index.js"></script>