<div class="class-conteiner-Autoriz">
  <form action="/user/login" method="post" id="login" class="formAutorization">
    <span> Login </span>
    <div class="email-input" data-validate="Username is required">
      <input
        class="inputEmail"
        type="text"
        name="email"
        placeholder="email"
      />
    </div>
    <div class="fieldPassword" data-validate="Password is required">
      <input
        class="inputPass"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="btnLogin">
      <button class="login-form-btn" type="submit">Push</button>
    </div>
  </form>
</div>
