
<ul>
  {{#if user}}
  <li style="float: left"><a class="nav-link" href="/user/logout"><button type="submit" id="regBtn">Выйти</button></a></li>
  <li style="float: left"><a class="nav-link" href="/user/LK"><button type="submit" id="regBtn">Личный Кабинет</button></a></li>
  {{else}}
  <li style="float: left"><a class="nav-link" href="/user/login"><button type="submit"  id="entBtn">Вход</button></a></li>
  <li style="float: left"><a class="nav-link" href="/user/signup"><button type="submit" id="regBtn">Регистрация</button></a></li>
{{/if}}
  <li style="float: right" class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Город</a>
    <div class="dropdown-content">
      <a href="#">Москва</a>
      <a href="#">Санк-Петербург</a>
      <a href="#">Сочи</a>
      <a href="#">Самара</a>
      <a href="#">Владивосток</a>
      <a href="#">Ростов-на-Дону</a>
      <a href="#">Краснодар</a>
      <a href="#">Мюнхен</a>
      <a href="#">Осло</a>
      <a href="#">Цюрих</a>
    </div>
  </li>
  {{#if user}}
  <li id="btnBasket" style="float: right"><button>Корзина</button></li>
  {{/if}}
</ul>
{{!-- <div id="searchCard">
  <input type="text" placeholder="Search card" /><button>Search</button>
</div> --}}
<div id="wrapperabc" class="row postWrapper">
{{#each cards}}
<div id="blockImage">
  <div data-id="{{this.id}}" class="imagePic">
    <p class="card-title">{{this.title}}</p>
    <img src="/img/{{this.img}}" class="card-img-top" alt="...">
    <div class="buyPrice">
      <button type="submit">buy</button>
      <button id="del-post" type="button">Delete</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
{{/each}}
</div>
</div>
