<ul>
  <li style="float: left"><a class="nav-link" href="/user/login"><button type="submit"  id="entBtn">Вход</button></a></li>
  <li style="float: left"><button type="submit" id="regBtn">Регистрация</button></li>
  <li>
    <label for=""><input type="text" placeholder="Город" /></label>
  </li>

  <li style="float: right" class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Город</a>
    <div class="dropdown-content">
      <a href="#">Москва</a>
      <a href="#">Санк-Петербург</a>
      <a href="#">Сочи</a>
      <a href="#">Самара</a>
      <a href="#">Владивосток</a>
      <a href="#">Ростов-на-Дону</a>
      <a href="#">Краснодар</a>
      <a href="#">Мюнхен</a>
      <a href="#">Осло</a>
      <a href="#">Цюрих</a>
    </div>
  </li>
  <li id="btnBasket" style="float: right"><button>Корзина</button></li>
</ul>
<div id="searchCard">
  <input type="text" placeholder="Search card" /><button>Search</button>
</div>
<div id="blockImage">
  <div class="imagePic">
    <p>Warlock</p>
    <img src="" alt="pic1" />
    <div class="buyPrice">
      <button>buy</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
  <div class="imagePic">
    <p>Demon</p>
    <img src="" alt="pic2" />
    <div class="buyPrice">
      <button>buy</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
  <div class="imagePic">
    <p>Elf</p>
    <img src="" alt="pic3" />
    <div class="buyPrice">
      <button>buy</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
  <div class="imagePic">
    <p>Lancelot</p>
    <img src="" alt="pic4" />
    <div class="buyPrice">
      <button>buy</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
  <div class="imagePic">
    <p>Druid</p>
    <img src="" alt="pic5" />
    <div class="buyPrice">
      <button>buy</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
  <div class="imagePic">
    <p>Dwarf</p>
    <img src="" alt="pic6" />
    <div class="buyPrice">
      <button>buy</button>
      <p1>rate:</p1>
      <p1>$4.99</p1>
    </div>
  </div>
</div>
