<div><div id="registration" align="center" style="font-size: 24px">Registration</div>
<form action="/user/signup" method="post" id="register" class="formRegistration">
  <div>
    <span> name</span>
    <input name="name" type="text" placeholder="enter your name" />
  </div>
     <div>
    <span> password </span>
    <input name="password" type="password" placeholder="enter password" />
  </div>
  <div>
    <span> email </span>
    <input name="email" type="text" placeholder="enter youe email" />
  </div>
  <div>
    <span> city </span>
    <input name="city" type="text" placeholder="enter your city" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Registration</button>
  </div>
</form>
</div>